parameters:
    level: 6
    paths:
        - src
        - config
        - tests
        - public
    tmpDir: var/cache/phpstan
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        # Doctrine assigns generated IDs via reflection.
        -
            identifier: property.unusedType
            path: src/Entity/*
